@tailwind base;
@tailwind components;
@tailwind utilities;


  
  .rainbow-mesh {
    background-color: rgb(245, 32, 245);
    background-image: radial-gradient(
        at 40% 20%,
        rgb(83, 135, 255) 0px,
        transparent 50%
      ), radial-gradient(at 80% 0%, rgb(23, 64, 72) 0px, transparent 50%),
      radial-gradient(at 0% 50%, rgb(23, 64, 72) 0px, transparent 50%),
      radial-gradient(at 80% 50%, rgb(23, 64, 72) 0px 0px, transparent 50%),
      radial-gradient(at 0% 100%, rgb(47, 0, 166) 0px, transparent 50%),
      radial-gradient(at 80% 100%, rgb(47, 0, 166) 0px, transparent 50%),
      radial-gradient(at 0% 0%, rgb(47, 0, 166) 0px, transparent 50%);
  }
  .candy-mesh {
    background-color: #0B1419;
    background-image: radial-gradient(
        at 40% 20%,
        #0B1419 0px,
        transparent 50%
      ), radial-gradient(at 80% 0%, #AA7168 0px, transparent 50%),
      radial-gradient(at 0% 50%, #AA7168 0px, transparent 50%),
      radial-gradient(at 80% 50%, #AA7168 0px 0px, transparent 50%),
      radial-gradient(at 0% 100%, #0B1419 0px, transparent 50%),
      radial-gradient(at 80% 100%, #0B1419 0px, transparent 50%),
      radial-gradient(at 0% 0%, #0B1419 0px, transparent 50%);
  }

  
  .glass {
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.4);
    height: 100%;
    width: 100%;
    display: flex;
  }
  
  [data-nextjs-scroll-focus-boundary] {
    display: contents;
  }
  


p{
  color: black;
}
h2{
  color: black;
}
input{
  color:black
}
.logo{
  background-color: #0B1419;
  width: 10px;
}
.card{
  margin: 2vh;
  height: auto;
}
